@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #faf9fe;
  --text-color: #414142;
  --text-color-light: #08958a;
  --primary-color: #ff621f;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #fff;
}

nav {
  /* soft box-shadow */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: var(--background-color);
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  opacity: 0;
  /* move in transition */
  transition: opacity 0.2s ease-in-out;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link:hover > a {
  color: var(--primary-color);
}

.nav-link > a {
  color: var(--text-color);
  font-weight: 500;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.ham-menu {
  position: absolute;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  display: none;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  /* no scroll bar */
  overflow: hidden;

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.ham-menu-links {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cta-btn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 500;
}

.cta-btn-primary:hover {
  background-color: #db571e;
  color: var(--background-color);
}

.cta-btn-primary:focus {
  background-color: #db571e !important;
  color: var(--background-color) !important;
}

.cta-btn-primary:active {
  background-color: #db571e !important;
  color: var(--background-color) !important;
}

.cta-btn-secondary {
  background-color: var(--text-color-light);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 500;
}

.cta-btn-secondary:hover {
  background-color: #077a71;
  color: var(--background-color);
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 1rem;
  background-color: var(--background-color);
  position: relative;
  z-index: 1;
}

.hero-info {
  align-items: start;
  gap: 1.5rem;
}

.vector {
  z-index: 2;
}

.vector-line-left {
  position: absolute;
  bottom: 8rem;
  left: 0;
  /* width: 100%; */
  /* height: 100vh; */
}

.vector-line-right {
  position: absolute;
  top: 8rem;
  right: 0;
  transform: rotate(180deg);
}

.popular-section {
  /* height: 100vh;
  width: 100vw; */
  background-color: #fff;
  padding: 8rem 0;
}

.popular-pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.popular-pagination > .page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  height: 3rem;
  width: 3rem;
  border-radius: 20rem;
  background-color: #fff;
  border: none;
}

.browse-all {
  background-color: var(--primary-color);
  color: #fff;
}

.browse-all:hover {
  background-color: #db571e !important;
}

.popular-pagination > .active-page,
.popular-pagination > .page-btn:hover,
.popular-pagination > .page.btn:focus {
  background-color: var(--primary-color);
  color: #fff;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.vector {
  z-index: -1;
}

.vector-ballon {
  position: absolute;
  top: 12rem;
  left: 8rem;
  animation: move 3s ease-in-out infinite;
  animation-delay: 0.5s;
  animation-direction: alternate;
}

.large-heading {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--text-color);
  text-transform: capitalize;
}

.medium-heading {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-color);
  text-transform: capitalize;
}

.small-heading {
  font-weight: 700;
}

.large-heading > span,
.medium-heading > span,
.small-heading > span {
  color: var(--primary-color);
}

.fa-bars,
.fa-xmark {
  cursor: pointer;
}

.paragraph-text {
  color: var(--text-color-light);
  font-weight: 300;
}

.border-left {
  border-left: 1px solid var(--text-color-light);
}

.item-card {
  background-color: var(--background-color);
  border-radius: 0.8rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-card:hover {
  box-shadow: 0 4px 16px rgba(92, 64, 12, 0.149);
  /* neomorphism on hover using mulitple shadow propoerty */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(92, 64, 12, 0.262); */

  transform: translateY(-0.5rem);
  transition: all 0.2s ease-in-out;
}

.card-img-wrapper {
  border-radius: 0.5rem;

  overflow: hidden;
}

.card-img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.testimonials-section {
  padding: 8rem 1rem;
  background-color: #fff;
}

.slide-btns > button {
  height: 2rem;
  width: 2rem;
}

.packages-section {
  padding: 8rem 1rem;
  background-color: var(--background-color);
}

.packages-filter {
  background-color: #fff;
  border-radius: 20rem;
}

.packages-filter > h1 {
  color: var(--text-color);
}

.packages-grid > .item-card {
  background-color: #fff;
}

.service-dropdown {
  color: var(--text-color-light);
  border: none !important;
}

.dropdown-btn {
  border: none !important;
}

.item-dropdown:hover {
  background-color: var(--primary-color) !important;
  color: #fff;
}

.contact-section {
  padding: 8rem 1rem;
  background-color: var(--background-color);
  position: relative;
}

.contact-detail-card {
  /* background-color: var(--background-color); */
  border-left: 1px solid var(--text-color-light);
}

.contact-card-info > .small-heading {
  color: var(--primary-color);
}

.form-input {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2rem;
  column-gap: 1rem;
}

.form-element > input,
.form-element > textarea,
.dropdown-options {
  border: 0.5px solid var(--primary-color);

  /* decrease size of placeholder text  */
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

.dropdown-options {
  color: var(--text-color) !important;
  background-color: #fff;
  border-radius: 10rem;
  padding-right: 1rem;
}

.dropdown-options:active,
.dropdown-options:focus {
  border: 1px solid var(--primary-color);
}

option {
  color: var(--text-color) !important;
}

option:selected {
  color: var(--text-color) !important;
}

option:hover {
  background-color: var(--primary-color) !important;
}

.dropdown-text {
  color: var(--text-color-light);
  border: none !important;
}

.form-control:focus {
  border-color: var(--primary-color) !important;
}

/* last child of .form-input */
.form-input > div:last-child {
  grid-column: 1 / -1;
}

.form-input > div:last-child > textarea {
  border-radius: 1rem;
  height: 10rem;
}

.footer-section {
  padding: 4rem 1rem;
  background-image: url("https://assets.website-files.com/63b261b98057c80332966627/63bb992de3ca2a2ca1f2e688_footer-pattern.png");
  /* make background cover whole section without leaving white space  */
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  /* background-color: var(--background-color); */
}

.footer-link {
  color: var(--text-color-light);

  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
}

/* .footer-card-list {
  display: grid;
  gap: 3rem;
} */

.social-icons > a {
  height: 2rem;
  width: 2rem;
  background-color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20rem;
}

.social-icons > a:hover {
  background-color: #db571e;
}

.service-section {
  /* padding: 4rem 1rem; */
  background-color: var(--background-color);
  background-image: url("https://assets.website-files.com/63b261b98057c80332966627/63bb992de3ca2a2ca1f2e688_footer-pattern.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.service-header {
  padding: 8rem 1rem 5rem 1rem;
}
.service-body {
  padding: 5rem 1rem;
}

/* .service-body {
  padding-top: 4rem;
  padding-bottom: 4rem;
} */

.service-cover-wrapper {
  background-image: url("../assets/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1.5rem;
  /* overflow: hidden; */
  /* height: 30rem; */
}

.service-cover-wrapper > img {
  height: 17rem;
  width: 17rem;
  border-radius: 50rem;
  border: 4px solid #fff;
}

.inclusion-section {
  padding: 5rem 1rem;
  background-color: var(--background-color);
}

/* tab pane  */

.tab {
  border-radius: 50rem;
  padding: 0.9rem 1.6rem;
  cursor: pointer;
  color: var(--text-color-light);
}

.tab.active {
  background-color: var(--text-color-light);
  color: var(--background-color);
}

.content {
  display: none;
}

.content > li {
  list-style: none;
  padding: 0.5rem 0;
  color: var(--text-color-light);
}

.content.active {
  display: block;
}

.key-features {
  padding: 6rem 0.5rem;
}

.featured {
  background-color: var(--background-color);
  border-radius: 1rem;
  /* background-image: url("https://assets.website-files.com/63b261b98057c80332966627/63bb992de3ca2a2ca1f2e688_footer-pattern.png"); */
}

.featured-row:not(:nth-child(9)) {
  border-bottom: 1px dashed #dbd0f0;
}

.gallery-section {
  padding: 6rem 1rem;
  /* background-color: var(--background-color); */
}

.gallery-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
}

.gallery-img-wrapper {
  overflow: hidden;
  border-radius: 1rem;
  height: 16rem;
}

.gallery-img-wrapper > img {
  width: 116%;
  /* height: 100%; */
  object-fit: cover;
}

.gallery-grid > img {
  height: 20rem;
}

/* Extra small devices (portrait phones) */
@media only screen and (max-width: 575.98px) {
  .hero-section,
  .popular-section,
  .packages-section,
  .testimonials-section,
  .contact-section,
  .footer-section,
  .service-header,
  .service-body,
  .inclusion-section,
  .gallery-section {
    padding: 5rem 0.5rem;
  }

  .hero-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .large-heading {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .medium-heading {
    font-size: 2rem;
    line-height: 1.2;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
  }

  .card-img-wrapper {
    height: 20rem;
  }

  .form-input {
    grid-template-columns: auto;
  }

  .service-cover-wrapper {
    height: 24rem;
  }

  .service-cover-wrapper > img {
    height: 17rem;
    width: 17rem;
  }

  .gallery-grid {
    grid-template-columns: auto;
  }

  /* .footer-card-list {
    grid-template-columns: auto;
  } */
}

/* Small devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .hero-section,
  .popular-section,
  .packages-section,
  .testimonials-section,
  .contact-section,
  .footer-section,
  .service-header,
  .service-body,
  .inclusion-section,
  .gallery-section {
    padding: 5rem 0.5rem;
  }

  .hero-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .large-heading {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .medium-heading {
    font-size: 2rem;
    line-height: 1.2;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
  }

  .card-img-wrapper {
    height: 24rem;
  }

  .form-input {
    grid-template-columns: auto;
  }

  .service-cover-wrapper {
    height: 24rem;
  }

  .service-cover-wrapper > img {
    height: 17rem;
    width: 17rem;
  }

  .gallery-grid {
    grid-template-columns: auto;
  }

  /* .footer-card-list {
    grid-template-columns: auto;
  } */
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .hero-section,
  .popular-section,
  .packages-section,
  .testimonials-section,
  .contact-section,
  .footer-section,
  .service-header,
  .service-body,
  .inclusion-section,
  .gallery-section {
    padding: 5rem 1rem;
  }

  .hero-info {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .large-heading {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .medium-heading {
    font-size: 2rem;
    line-height: 1.2;
  }

  .popular-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card-img-wrapper {
    height: 18rem;
  }

  .form-input {
    grid-template-columns: auto;
  }

  .service-cover-wrapper {
    height: 24rem;
  }

  .service-cover-wrapper > img {
    height: 17rem;
    width: 17rem;
  }

  .gallery-grid {
    grid-template-columns: auto auto;
  }
  /* 
  .footer-card-list {
    grid-template-columns: auto;
  } */
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .popular-grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .card-img-wrapper {
    height: 14rem;
  }

  .service-cover-wrapper > img {
    height: 20rem;
    width: 20rem;
  }
  /* 
  .footer-card-list {
    grid-template-columns: auto;
  } */
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
  .popular-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .card-img-wrapper {
    height: 14rem;
  }

  .service-cover-wrapper {
    height: 28rem;
  }

  .service-cover-wrapper > img {
    height: 20rem;
    width: 20rem;
  }
  /* 
  .footer-card-list {
    grid-template-columns: auto auto;
  } */
}
